In [1]:
import warnings
warnings.simplefilter('ignore')

In [2]:
# 정류소 정보를 가진 파일을 읽어온다.
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
##########################################################################
Nbus = ['N13', 'N15','N16','N26','N30','N32','N34','N37'
        ,'N51','N61','N62','N64','N72','N75']
len(Nbus)

14

In [4]:
e_s = [['N13', 24503],
 ['N15', 10342],
 ['N15', 10343],
 ['N26', 16023],
 ['N26', 16024],
 ['N32', 24503],
 ['N32', 24425],
 ['N32', 6310],
 ['N32', 24424],
 ['N37', 24503],
 ['N61', 17249],
 ['N64', 19015],
 ['N64', 20254],
 ['N64', 22415],
 ['N64', 22608],
 ['N64', 22426],
 ['N75', 13341]]

In [5]:
import glob
bus_station_data = glob.glob('정류소*')

bus_station_data

['정류소_N13.txt',
 '정류소_N15.txt',
 '정류소_N16.txt',
 '정류소_N26.txt',
 '정류소_N30.txt',
 '정류소_N32.txt',
 '정류소_N34.txt',
 '정류소_N37.txt',
 '정류소_N51.txt',
 '정류소_N61.txt',
 '정류소_N62.txt',
 '정류소_N64.txt',
 '정류소_N72.txt',
 '정류소_N75.txt']

In [6]:
import pandas as pd
for nb, data in zip(Nbus, bus_station_data):
    globals()[nb] = pd.read_csv(data, sep='\t', index_col = 0)
    globals()[nb].drop(index = '순서', inplace = True)
    globals()[nb]['경유정류소'] = globals()[nb]['경유정류소'].str.replace(' - 회차', '')
    print(nb, globals()[nb].shape)

N13 (145, 1)
N15 (145, 1)
N16 (131, 1)
N26 (129, 1)
N30 (95, 1)
N32 (78, 1)
N34 (87, 1)
N37 (111, 1)
N51 (154, 1)
N61 (185, 1)
N62 (157, 1)
N64 (164, 1)
N72 (102, 1)
N75 (171, 1)

In [7]:
for nb in Nbus:
    snum = pd.to_numeric(globals()[nb]['경유정류소'].str[-6:-1])
    globals()[nb]['snum'] = snum
    globals()[nb]['정류소명'] = globals()[nb]['경유정류소'].str[:-7]

In [8]:
N15.head()

               경유정류소   snum       정류소명
순서
1    우이동성원아파트(09104)   9104   우이동성원아파트
2    우이동도선사입구(09286)   9286   우이동도선사입구
3     한국사회봉사회(10342)  10342    한국사회봉사회
4   연산군.정의공주묘(10184)  10184  연산군.정의공주묘
5    방학동신동아타워(10186)  10186   방학동신동아타워

In [9]:
import googlemaps
gmaps_key = "AIzaSyCYCxqWJPvAeWEgYZLZY7GJ9EtPyDMkikU"
gmaps = googlemaps.Client(key=gmaps_key)

In [24]:
sname = N64[N64['snum'] == 19015].iloc[0][2]
sname

'대방역'

In [27]:
g = gmaps.geocode(sname + ' 정류장' , language = 'ko')
g

[{'address_components': [{'long_name': '대방역',
    'short_name': '대방역',
    'types': ['establishment', 'point_of_interest', 'transit_station']},
   {'long_name': '대방동',
    'short_name': '대방동',
    'types': ['political', 'sublocality', 'sublocality_level_2']},
   {'long_name': '서울특별시',
    'short_name': '서울특별시',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']},
   {'long_name': '156-020',
    'short_name': '156-020',
    'types': ['postal_code']}],
  'formatted_address': '대한민국 서울특별시 대방동 대방역',
  'geometry': {'location': {'lat': 37.5125541, 'lng': 126.9263706},
   'location_type': 'GEOMETRIC_CENTER',
   'viewport': {'northeast': {'lat': 37.5139030802915,
     'lng': 126.9277195802915},
    'southwest': {'lat': 37.5112051197085, 'lng': 126.9250216197085}}},
  'partial_match': True,
  'place_id': 'ChIJec07kxGffDUR-R5zhTcigXQ',
  'plus_code': {'compound_code': 'GW7G+2G 대한민국 서울특별시',
   'global_code': '8Q98GW7G+2G'},
  'types': ['establishment', 'point_of_interest', 'transit_station']}]

In [37]:
geo = g[0].get('geometry').get('location')
geo

{'lat': 37.5125541, 'lng': 126.9263706}

In [22]:
st_new = pd.read_excel('20220429기준_서울시정류소리스트.xlsx')
st_new.head(10)

     NODE_ID  ARS-ID           정류소명         좌표X        좌표Y
0  100000001    1001        종로2가사거리  126.987786  37.569764
1  100000002    1002    창경궁.서울대학교병원  126.996520  37.579179
2  100000003    1003      명륜3가.성대입구  126.998290  37.582709
3  100000004    1004       종로2가.삼일교  126.987507  37.568582
4  100000005    1005  혜화동로터리.여운형활동터  127.001694  37.586230
5  101000305    1006        서대문역사거리  126.966961  37.566208
6  100000380    1007   서울역사박물관.경희궁앞  126.970420  37.569098
7  100000379    1008   서울역사박물관.경희궁앞  126.970442  37.569336
8  100000384    1009            광화문  126.975241  37.570051
9  100000385    1010            광화문  126.978091  37.570296

In [23]:
for i in e_s:
    print(i[1], st_new[st_new['ARS-ID'] == i[1]])
    print()

24503          NODE_ID  ARS-ID          정류소명         좌표X        좌표Y
10513  123000660   24503  복정역환승센터3번승강장  127.127535  37.469929

10342         NODE_ID  ARS-ID     정류소명         좌표X        좌표Y
3535  108000384   10342  한국사회봉사회  127.014778  37.661827

10343         NODE_ID  ARS-ID     정류소명         좌표X        좌표Y
3536  108000385   10343  한국사회봉사회  127.014897  37.661849

16023         NODE_ID  ARS-ID   정류소명         좌표X        좌표Y
6089  115000947   16023  강서세무서  126.821279  37.560156

16024         NODE_ID  ARS-ID   정류소명         좌표X        좌표Y
6090  115000946   16024  강서세무서  126.822702  37.560198

24503          NODE_ID  ARS-ID          정류소명         좌표X        좌표Y
10513  123000660   24503  복정역환승센터3번승강장  127.127535  37.469929

24425          NODE_ID  ARS-ID      정류소명         좌표X        좌표Y
10436  123000656   24425  호반써밋송파2차  127.140754  37.483602

6310         NODE_ID  ARS-ID             정류소명         좌표X        좌표Y
1836  105000559    6310  e편한세상청계센트럴포레아파트  127.030372  37.570676

24424          NODE_ID  ARS-ID      정류소명         좌표X        좌표Y
10435  123000655   24424  호반써밋송파1차  127.140574  37.484325

24503          NODE_ID  ARS-ID          정류소명         좌표X        좌표Y
10513  123000660   24503  복정역환승센터3번승강장  127.127535  37.469929

17249         NODE_ID  ARS-ID    정류소명         좌표X        좌표Y
6828  116000648   17249  가리봉파출소  126.891837  37.479114

19015 Empty DataFrame
Columns: [NODE_ID, ARS-ID, 정류소명, 좌표X, 좌표Y]
Index: []

20254         NODE_ID  ARS-ID              정류소명         좌표X        좌표Y
8150  119000319   20254  사당롯데캐슬골든포레.사당해그린  126.962634  37.493055

22415         NODE_ID  ARS-ID     정류소명         좌표X     좌표Y
9243  121001327   22415  내방역1번출구  126.994755  37.488

22608         NODE_ID  ARS-ID     정류소명         좌표X        좌표Y
9395  121001329   22608  서리풀문화광장  127.005139  37.491022

22426         NODE_ID  ARS-ID  정류소명         좌표X        좌표Y
9253  121001328   22426  대법원앞  127.006702  37.491582

13341         NODE_ID  ARS-ID           정류소명         좌표X        좌표Y
4920  112000439   13341  DMC쌍용.래미안루센티아  126.918864  37.575662